extends layout

block content
  div.container
    div.row
      div.col-xs-12.col-sm-6.col-sm-offset-3
        form.login-form(action="/api/users", method="post", novalidate)
          h2 New user registration
          div.form-group
            label(for="email-input") E-mail
            input.form-control(id="email-input", type="email", name="email")
          div.form-group
            label(for="password-input") Password
            input.form-control(id="password-input", type="password", name="password")
          div.form-group
            button.btn.btn-success Sign up
            a.btn.btn-primary(href="/login") Login

          .messages
            include includes/messages.jade